@media only screen and (min-width:200px) and (max-width:991px) {
    /* Header Start */

    header {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 10px;
    }

    .header-left {
        justify-content: center;
    }

    .logo {
        padding: 10px;
    }

    .header-address {
        padding: 10px;
    }

    .header-address h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .header-address p {
        font-size: 12px;
    }

    .search-box button {
        padding: 10px;
    }

    .header-btn {
        width: 100%;
        justify-content: center;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    /* Header End */

    /* Banner Section Start */

    .banner-sec {
        display: none;
    }

    /* Banner Section End */

    /* Order Banner Section Start */

    .order-banner .container {
        flex-direction: column;
        gap: 16px;
    }

    .order-banner-item {
        flex: 1 1 100%;
        max-width: 90%;
        margin: auto;
    }

    /* Order Banner Section End */

    /* Product Section Start */

    .product-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .product-card {
        width: calc(50% - 20px);
        max-width: 100%;
        margin-bottom: 20px;
    }

    .heading-row {
        flex-direction: column;
        gap: 10px;
    }

    .heading-row h2 {
        font-size: 20px;
    }

    .heading-row a {
        font-size: 16px;
    }

    /* Product Section End */

    /* Footer Section Start */

    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 30px 16px;
    }

    .footer-section:first-child {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .categories-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .categories-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer-bottom-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .footer-bottom-center {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .app-buttons {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-disclaimer p {
        padding: 0 16px;
        font-size: 11.5px;
    }

    /* Footer Section End */
}